[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
imageio = "*"
matplotlib = "*"
ipython = "*"
requests = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
